/doc/hw3/C/Tables/SpellTable/build/
/doc/hw3/C/Tables/SpellTable/nbproject/private/
/doc/hw3/A/Menus/KlingenergMenu/Sword-Sorcery/dist/
doc/masterClassDiagrams/Thumbs.db
/doc/Display Character Details/build/
/doc/Display Character Details/nbproject/private/
*.class
/nbproject/private/
/build/
/dist/
/src/Implement_Spells/dist/