/* 
    Created on : Apr 5, 2014, 9:17:01 PM
    Author     : Joe Higley
*/

Button {
    -fx-font-size: 36px;
    -fx-font-family: 'JasmineUPC';
}

Label {
    -fx-font-size: 150pt;
    -fx-font-family: 'JasmineUPC';
}