/* 
    Created on : Apr 5, 2014, 9:17:01 PM
    Author     : Joe Higley
*/

button {
    -fx-font-size: 22px;
    -fx-font-family: ups;
/*    -fx-font-weight: upcjb */
}

text {
    -fx-font-size: 78pt;
    -fx-font-family: ups;
/*    -fx-font-weight: BOLD; */
}